:root {}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    line-height: 0.1;
    font-size: 50px;
    padding-top: 15px;
}

.wrapper__h1_system {}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(/images/background.jpg);
    color: white;
}

#wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
}

.wrapper__welcomeArea {}

.wrapper__welcomeArea__button {
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(255, 255, 255, 0);
    /* Passende Farbe */
    color: white;
    border: 3px solid white;
    padding: 5%;
    border-radius: 20px;
    font-size: 50px;
    margin-top: 40%;
}

.wrapper__categories {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    margin-top: 50px;
}

.wrapper__products {
    width: 100%;
    max-height: 100%;
    margin: 0;
}

.wrapper__categories__spaceEvenly {
    justify-content: space-evenly;
}

.wrapper__categories__categorie {
    font-family: 'Permanent Marker', cursive;
    background-color: transparent;
    /* Passende Farbe */
    color: white;
    padding: 40% 0 40% 0;
    border: 3px solid white;
    border-radius: 6px;
    text-align: center;
}

.wrapper__products>.wrapper__products__productCategories {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    background-color: transparent;
}

.wrapper__products>.wrapper__products__productCategories>div {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: white;
    margin: 2%;
    padding: 10%;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
}

.wrapper__checkout {
    width: 100%;
    justify-content: space-evenly;
    
}

.wrapper__checkout__price {

    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-top: 70%;

}

.wrapper__checkout__change {

    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-top: 70%;

}

#navigation {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.navigation__restart {
    border-style: solid;
    border-radius: 5px;
    flex-basis: 33%;
    list-style: none;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-left: -20px;
    padding: 5px;
}

.navigation__goToCheckout {
    border-style: solid;
    border-radius: 5px;
    flex-basis: 33%;
    list-style: none;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    margin-left: -20px;
    padding: 5px;
    transition: all 0.2s ease-in-out;    
}

.navigation__goToCheckout:hover {
    cursor: pointer;
}

.navigation__goToCheckout.disabled:hover {
    cursor: not-allowed;
}

/*Display Hilfsklassen*/

.flex {
    display: flex;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.disabled {
    opacity: 0.5;
}

/*Modal popup für session restart*/

.modalBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15%;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 70%;
    height: 20%;
    font-size: 20px;
    margin: auto;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Courier New', Courier, monospace;
}

.modal__header {
    height: 20%;
    width: 100%;
    background-color: red;
    opacity: 0.5;
}

/* .modal__header::before {
    content: 'x';
    float: right;
    font-family: serif;
    font-size: 21px;    
} */

.modal__content {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

.modal__content__button {
    margin: 20px auto 0 auto;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper__header__small {
    font-family: 'Permanent Marker', cursive;
    line-height: 0.1;
}

.wrapper__categories__categorie.clicked {
    padding: 0;
    height: 100%;
    width: 100%;
    border-style: none;
    background-color: rgba(0, 200, 225, 0.7);
    border-radius: 0;
    font-size: 40px;
}

.wrapper__categories.categorieSelected {
    width: 100%;
    margin-top: 0;
    height: 10%;
}

.wrapper__products--backgroundStyle {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}